Show data for:

<p>all strikes</p>

<p>strikes by year</p>

<p>strikes by country</p>

<p>strikes by number of confirmed deaths</p>

<p>strikes by number of civilian deaths</p>

<p>strikes by number of children deaths</p>
